body {
  background-color: #FDF1F0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: white;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px; 
  height: 100%;
}

header {
  border-top: 20px solid white;
  border-bottom: 20px solid white;
  background-color: white; 
  margin: 0;
  height: 80px;
}

.header-text {
  color: #1B7791;
  margin: 0;
  font-size: 50px;
  padding-left: 10px;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-style: oblique;
}

.welcome-message { 
  margin: 60px;
}
.welcome-message h2 {
  color: #FB991A;
}

.trip-message {
  font-family: "Shadows Into Light Two", cursive;
  font-style: normal;
  font-size: 30px;
  word-spacing: 20px;
  position: relative; 
  display: inline-block;
}

.trip-message::after {
  content: '';
  position: absolute; 
  bottom: -15px;
  left: -25%;
  width: 150%; 
  height: 5px; 
  background-color:#1B7791;
  border-radius: 50%; 
}

.welcome-message h3 {
  color: gray;
  font-size: 20px;
  margin: 0;
}

.container {
  border: #1B7791 3px solid;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  margin: 100px;
  border-radius: 20px;
}

.card-titles {
  text-align: center;
  color:#FB991A;
  font-size: 20px;
  margin-bottom: 0;
}

.sub-container-text {
  text-align: center;
}

.sub-container1, .sub-container2, .sub-container3, .sub-container4 {
  width: 200px;
  height: 300px;
  background-color: white;
  margin-bottom: 20px;
  border: solid;
  border-radius: 20px;
  border-color:#1B7791;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.vacation-photos {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #FB991A;
}

.action-buttons {
  display: flex;
  gap: 50px;
}

.nav-book-button { 
  background-color: #FB991A;
  font-size: 25px;
  border-radius: 5px;
  color:#022539;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.nav-login-button {
  background-color: #FB991A;
  font-size: 25px;
  border-radius: 5px;
  color:#022539;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

#loginForm {
  position: absolute; 
  margin-top: 60px;
  top: 60px; 
  right: 0; 
  background-color: white;
  border-radius: 10px;
  padding: 18px;
  border: 2px solid orange;
  width: 175px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  color:#1B7791;
}

.sub-menu-login-button { 
  background-color: #FB991A;
  margin-top: 5px;
  font-size: 25px;
  border-radius: 10%;
}

.form-group {
  color: #022539;
}

footer {
  background-color: white;
  padding: 20px;
  height: 100px;
  display: flex;
  align-items: center;
}

.past-trip-text {
  font-size: 18px;
  text-decoration: underline;
}

.API-location {
  font-size: 15px;
}

.footer-text {
  color: #1B7791;
  margin: 0;
  font-size: 50px;
  padding-left: 10px;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-style: oblique;
}

.login-form-hidden {
  display: none; 
}

.form-group {
  text-align: center;
}

.login-button {
  margin-top: 10px;
  background-color: #FB991A;
  font-size: 15px;
  border-radius: 5px;
  color:#022539;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.card-DOMUpdates {
  color:#022539;
  font-size: 18px;
  padding: 2px;
}

.upcoming-card-DOMUpdates, .pending-card-DOMUpdates {
  color:#022539;
  font-size: 18px;
  padding: 2px;
}

.sub-container2 .card-DOMUpdates ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}

.sub-container2 .card-DOMUpdates li {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}


#tripRequestForm { 
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  text-align: center;
}