body {
  background-color: #FDF1F0; 
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #FFFFFF; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px; 
  height: 120px;
}

.header-text {
  color: #004080; 
  margin: 0;
  font-size: 50px;
  padding-left: 10px;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-style: oblique;
}

.welcome-message { 
  margin: 60px;
}

.welcome-message h2 {
  color: #E35D6A; 
}

.trip-message {
  font-family: "Shadows Into Light Two", cursive;
  font-style: normal;
  font-size: 30px;
  word-spacing: 20px;
  position: relative; 
  display: inline-block;
}

.trip-message::after {
  content: '';
  position: absolute; 
  bottom: -15px;
  left: -25%;
  width: 150%; 
  height: 5px; 
  background-color: #004080; 
  border-radius: 50%; 
}

.welcome-message h3 {
  color: #555555; 
  font-size: 20px;
  margin: 0;
}

.container {
  border: 3px solid #004080; 
  display: flex;
  justify-content: space-around;
  padding: 50px;
  margin: 20px;
  margin-right: 100px;
  margin-left: 100px;
  border-radius: 20px;
}

.card-titles {
  text-align: center;
  color: #E35D6A; 
  font-size: 20px;
  margin-bottom: 0;
}

.sub-container-text {
  text-align: center;
}

.sub-container1, .sub-container2, .sub-container3, .sub-container4 {
  width: 200px;
  height: 300px;
  background-color: #FFFFFF; 
  margin-bottom: 20px;
  border: solid;
  border-radius: 20px;
  border-color: #004080; 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.sub-container3 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.vacation-photos {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #E35D6A; 
}

.action-buttons {
  display: flex;
  gap: 50px;
}

.nav-book-button { 
  background-color: #E35D6A; 
  font-size: 25px;
  border-radius: 5px;
  color: #FFFFFF; 
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.nav-login-button {
  background-color: #E35D6A; 
  font-size: 25px;
  border-radius: 5px;
  color: #FFFFFF; 
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

#loginForm {
  position: absolute; 
  margin-top: 60px;
  top: 60px; 
  right: 0; 
  background-color: #FFFFFF; 
  border-radius: 10px;
  padding: 18px;
  border: 2px solid #E35D6A; 
  width: 175px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  color: #004080; 
}

.sub-menu-login-button { 
  background-color: #E35D6A; 
  margin-top: 5px;
  font-size: 25px;
  border-radius: 10%;
}

.form-group {
  color: #555555; 
}

footer {
  background-color: #FFFFFF; 
  padding: 20px;
  height: 100px;
  display: flex;
  align-items: center;
}

.past-trip-text {
  font-size: 18px;
  text-decoration: underline;
}

.API-location {
  font-size: 15px;
  text-align: center;
  align-items: center;
}

.footer-text {
  color: #004080; 
  margin: 0;
  font-size: 50px;
  padding-left: 10px;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-style: oblique;
}

.login-form-hidden {
  display: none; 
}

.form-group {
  text-align: center;
}

.login-button {
  margin-top: 10px;
  background-color: #E35D6A; 
  font-size: 15px;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.card-DOMUpdates {
  color: #555555; 
  font-size: 15px;
  padding: 2px;
}

.upcoming-card-DOMUpdates, .pending-card-DOMUpdates {
  color: #555555; 
  font-size: 15px;
  padding: 2px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.sub-container2 .card-DOMUpdates ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}

.sub-container2 .card-DOMUpdates li {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width:  100%;
}

.booking-section {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  border: 3px solid #004080; 
  border-radius: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 50px;
}

.booking-welcome-message {
  text-align: center;
}

.sub-container-text {
  text-align: center;
}

.book-message {
  font-family: "Shadows Into Light Two", cursive;
  font-style: normal;
  font-size: 30px;
  word-spacing: 20px;
  position: relative; 
  display: inline-block;
}

.submit-trip {
  color: #555555; 
  font-size: 20px;
  margin: 15px;
  margin-bottom: 20px;
}

.book-message::after {
  content: '';
  position: absolute; 
  bottom: -15px;
  left: -25%;
  width: 150%; 
  height: 5px; 
  background-color: #E35D6A;
  border-radius: 50%; 
}

.booking-section form {
  text-align: center;
}

#tripRequestForm { 
  border: 3px solid #004080; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%; 
  text-align: center;
  padding: 20px;
  margin: auto; 
  border-radius: 20px;
  background-color: #FFFFFF; 
  padding: 50px;
}

#tripRequestForm h2 { 
  color: #E35D6A; 
  text-decoration: underline;
}

.form-group {
  text-align: center;
}

.calculate-cost-button, .submit-request-button{ 
  background-color: #004080;
  font-size: 17px;
  border-radius: 5px;
  color: white;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 15px;
}

#tripRequestFormInner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#tripRequestFormInner .form-group {
  flex: 1;
  margin: 10px;
  text-align: left; 
}